body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: aqua;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.add-task {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.add-task input,
.add-task textarea,
.add-task select {
  margin: 5px;
  padding: 5px;
}

.add-task button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

.task-list {
  margin-top: 20px;
}

.task-item {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 10px;
  background: burlywood;
}

.task-item h3 {
  margin-top: 0;
}

.task-item p {
  margin-bottom: 5px;
}

.task-item button {
  margin-right: 5px;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
